#wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #9497A7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#navWrap {
  width: 30%;
  height: 80%;
  background: url('./images/sidebarFull.png') no-repeat;
  background-size: contain;
  background-clip: border-box;
  /* position: relative; */
  margin: 0;
  background-color: #545871;
  border-radius: 5% 0 0 5%;
}

nav {
  display: none;
  flex-direction: column;
  align-items: flex-start;
}

#rightSide {
  height: 80%;
  width: 60%;
  background-color: #faeceb;
  border-radius: 0 5% 5% 0;
}

h1 {
  width: 100%;
  height: 10%;
  text-align: center;
  margin-top: 0;
  color: #545871;
}

#formWrap {
  width: 100%;
  height: 90%;
  background-color: #faeceb;
  border-radius: 0 5% 0 0;
  /* position: relative; */
  /* margin:0; */
  /* display: none; */
}

form {
  width: 100%;
  height: 90%;
  /* background-color: cornflowerblue; */
  background-color: #faeceb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#rowOne, #rowTwo, #rowThree{
  width: 80%;
  display: flex;
  /* background-color: greenyellow; */
}

label {
  width: 30%;
}

input {
  background-color: #f0f1f8;
  width: 90%;
}

select {
  padding: 0;
  height: 50px;
  width: 200px;
  background-color: #f0f1f8;
  color: #545871;
}

option::selection {
  padding: 0;
  height: 50px;
  width: 200px;
  background-color: #c37e7b;
}

.twoOptions option {
  display:inline-table;
  height: 100%;
  width: 50%;
  text-align: center;
}

.fourOptions{
  width: 100%;
}

.fourOptions option {
  display:inline-table;
  height: 100%;
  width: 25%;
  text-align: center;
}

#uploadWrap {
  display: inline-flex;
}

/* set positon to relative so new button could overlap old input */

#upload {
  background-color: #faeceb;
  height: auto;
  width: auto;
  position: relative;
  color: #545871;
}

/* set opacity and padding to 0, and position to absolute, 
so that default file input is hidden, but clickable */

#fileInput {     
  position: absolute;
  padding: 0;
  opacity: 0;
}

#navButtons {
  background-color: #f0f1f8;
  height: 10%;
  width: 100%;
  border: none;
  box-shadow: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 4% 30px 0;
}

button {
  height: 90%;
  width: 10%;
}