#wrapper{
  width: 100vh;
  height: 100vh;
  background-color: none;
}

#navWrap {
  width: auto;
  height: 80%;
  background: url('./images/sidebarFull.png') no-repeat;
  background-size: contain;
  background-clip: border-box;

}

nav {
  display: none;
  flex-direction: column;
  align-items: flex-start;
}

form {
  width: 100%;
  background-color: cornflowerblue;
}

select {
  padding: 0;
  height: 50px;
  width: 200px;
  background-color: pink;
}

.twoOptions option {
  display:inline-table;
  height: 100%;
  width: 50%;
  text-align: center;
}

.fourOptions option {
  display:inline-table;
  height: 100%;
  width: 25%;
  text-align: center;
}

#uploadWrap {
  display: inline-flex;
}

/* set positon to relative so new button could overlap old input */

#upload {
  background-color: peachpuff;
  height: auto;
  width: auto;
  position: relative;
}

/* set opacity and padding to 0, and position to absolute, 
so that default file input is hidden, but clickable */

#fileInput {     
  position: absolute;
  padding: 0;
  opacity: 0;
}